<?xml version="1.0" encoding="utf-8" standalone="no"?>
<installer-script minSpecVersion="1.000000" authoringTool="com.apple.PackageMaker" authoringToolVersion="3.0.6" authoringToolBuild="201">
    <title>Rujum</title>
    <options customize="never" allow-external-scripts="no" rootVolumeOnly="false"/>
    <domains enable_currentUserHome="true"/>
    <choices-outline>
        <line choice="choice0"/>
    </choices-outline>
    <choice id="choice0" title="Services">
        <pkg-ref id="com.ctg.rujum.Markmilestone.pkg"/>
        <pkg-ref id="com.ctg.rujum.Showmilestones.pkg"/>
        <pkg-ref id="com.ctg.rujum.change_icon.pkg"/>
        <pkg-ref id="com.ctg.rujum.file-icon.pkg"/>
        <pkg-ref id="com.ctg.rujum.set_milestone.pkg"/>
        <pkg-ref id="com.ctg.rujum.set_pwd.pkg"/>
        <pkg-ref id="com.ctg.rujum.view_milestones.pkg"/>
        <pkg-ref id="com.ctg.rujum.seticon.pkg"/>
    </choice>
    <pkg-ref id="com.ctg.rujum.Markmilestone.pkg" installKBytes="144" version="1.0" auth="Root">file:./Contents/Packages/markMilestone.pkg</pkg-ref>
    <pkg-ref id="com.ctg.rujum.Showmilestones.pkg" installKBytes="76" version="1.0" auth="Root">file:./Contents/Packages/showMilestones.pkg</pkg-ref>
    <pkg-ref id="com.ctg.rujum.change_icon.pkg" installKBytes="4" version="1.0" auth="Root">file:./Contents/Packages/changeicon.pkg</pkg-ref>
    <pkg-ref id="com.ctg.rujum.file-icon.pkg" installKBytes="96" version="1.0" auth="Root">file:./Contents/Packages/fileicon.pkg</pkg-ref>
    <pkg-ref id="com.ctg.rujum.set_milestone.pkg" installKBytes="8" version="1.0" auth="Root">file:./Contents/Packages/setmilestone.pkg</pkg-ref>
    <pkg-ref id="com.ctg.rujum.set_pwd.pkg" installKBytes="8" version="1.0" auth="Root">file:./Contents/Packages/setpwd.pkg</pkg-ref>
    <pkg-ref id="com.ctg.rujum.view_milestones.pkg" installKBytes="8" version="1.0" auth="Root">file:./Contents/Packages/viewmilestones.pkg</pkg-ref>
    <pkg-ref id="com.ctg.rujum.seticon.pkg" installKBytes="88" version="1.0" auth="Root">file:./Contents/Packages/seticon.pkg</pkg-ref>
</installer-script>